<div class="container">
  <h4>Buttons</h4>
  <div class="row">
    <div class="col-md-3">
      <button dz-button size="lg">Dz button</button>
      <button dz-button size="md">Dz button</button>
      <button dz-button size="sm">Dz button</button>
    </div>
    <div class="col-md-3">
      <button dz-round-button size="lg"><i class="far fa-address-book"></i>Dz button</button>
      <button dz-round-button size="md" iconPosition="right">Dz button<i class="far fa-address-book"></i></button>
      <button dz-round-button size="sm">Dz button</button>
    </div>
    <div class="col-md-3">
      <button dz-outline-button size="lg">Dz button</button>
      <button dz-outline-button size="md">Dz button</button>
      <button dz-outline-button size="sm">Dz button</button>
    </div>
    <div class="col-md-3">
      <button dz-round-outline-button size="lg">Dz button</button>
      <button dz-round-outline-button size="md"><i class="far fa-address-book"></i>Test</button>
      <button dz-round-outline-button size="sm">Dz button</button>
    </div>
  </div>
</div>